<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Salesforce Accounts</title>
  </head>
  <body>
    <h1>Salesforce Accounts</h1>
    <!-- <ul>
      {% for account in accounts %}
      <li>
        {{ account.Name }} {{account.AnnualRevenue}}
        {{account.NumberOfEmployees}}
      </li>
      {% endfor %}
    </ul> -->
    <table>
      <tr>
        <th>Account Name</th>
        <th>Annual Revenue</th>
        <th>No of Employees</th>
      </tr>
      {% for account in accounts %}
      <tr>
        <td>{{ account.Name }}</td>
        <td>{{account.AnnualRevenue}}</td>
        <td>{{account.NumberOfEmployees}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
