<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='salesforce-lightning-design-system.css') }}"
  />

  <script src="https://mbdxdodemo.my.salesforce.com/lightning/lightning.out.js"></script>
  <script type="text/javascript">
    var token = "{{ token }}";
    $Lightning.use(
      "c:LightningOutDemo",
      function () {
        $Lightning.createComponent(
          "c:lwcCmp",
          {
            msg: "You are viewing Lightning Out - Hello from a Python Flask app!",
          },
          "div1",
          function (cmp) {
            console.log("callback");
          }
        );
      },
      "https://mbdxdodemo.lightning.force.com",
      token
    );
  </script>
</head>
<body>
  <h1>Lightning Out - LWC</h1>
  <div id="div1"></div>
</body>
