<html>
  <!--start-->
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='salesforce-lightning-design-system.css') }}"
    />
  </head>
  <body>
    <div class="slds-text-heading_large">
      <p>Lightning Out</p>
    </div>
 <br/>
    <div class="slds-text-heading_medium">
      <p>This is a Python/Flask app hosted on Heroku</p>
    </div>
  </br>
    <div class="slds-text-heading_small">
      <a href="/lodemo">View an editable LWC DataTable in Lightning Out</a>
    </div>
    <br/>
    <div class="slds-text-heading_small">
      <a href="/ebikesflow">View a Flow in Lightning Out</a>
    </div>
  </body>
</html>
