<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Salesforce wines</title>
  </head>
  <body>
    <h1>Salesforce wines</h1>
    <!-- <ul>
      {% for wine in wines %}
      <li>
        {{ wine.Name }} {{wine.AnnualRevenue}}
        {{wine.NumberOfEmployees}}
      </li>
      {% endfor %}
    </ul> -->
    <table>
      <tr>
        <th>Name</th>
        <th>Alcohol</th>
        <th>Chlorides</th>
      </tr>
      {% for wine in wines %}
      <tr>
        <td>{{wine.Name }}</td>
        <td>{{wine.alcohol__c}}</td>
        <td>{{wine.chlorides__c}}</td>
        <td>{{wine.citric_acid__c}}</td>
        <td>{{wine.density__c}}</td>
        <td>{{wine.fixed_acidity__c}}</td>
        <td>{{wine.free_sulfur_dioxide}}</td>
        <td>{{wine.pH__c}}</td>
        <td>{{wine.residual_sugar__c}}</td>
        <td>{{wine.sulphates__c}}</td>
        <td>{{wine.total_sulfur_dioxide__c}}</td>
        <td>{{wine.volatile_acidity__c}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
