<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Salesforce wines</title>
  </head>
  <body>
    <h2>Correlation Matrix</h2>
    <div>
      <img src="data:image/png;base64, {{ plot_url }}" />
    </div>

    <!-- <ul>
      {% for wine in wines %}
      <li>
        {{ wine.Name }} {{wine.AnnualRevenue}}
        {{wine.NumberOfEmployees}}
      </li>
      {% endfor %}
    </ul> -->
    <h2>Wine data</h2>
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Fixed Acidity</th>
          <th>Vol Acidity</th>
          <th>Citric Acid</th>
          <th>Resid. Sugar</th>
          <th>Chlorides</th>
          <th>Free S02</th>
          <th>Total S02</th>
          <th>Density</th>
          <th>pH</th>
          <th>Sulphates</th>
          <th>Alcohol%</th>
          <th>Quality</th>

          {% for wine in wines %}
        </tr>

        <tr>
          <td>{{wine.Name}}</td>
          <td>{{wine.fixed_acidity__c}}</td>
          <td>{{wine.volatile_acidity__c}}</td>
          <td>{{wine.citric_acid__c}}</td>
          <td>{{wine.residual_sugar__c}}</td>
          <td>{{wine.chlorides__c}}</td>
          <td>{{wine.free_sulfur_dioxide__c}}</td>
          <td>{{wine.total_sulfur_dioxide__c}}</td>
          <td>{{wine.density__c}}</td>
          <td>{{wine.pH__c}}</td>
          <td>{{wine.sulphates__c}}</td>
          <td>{{wine.alcohol__c}}</td>
          <td>{{wine.quality__c}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
